.similar-job-bg-container {
  background-color: #202020;
  color: #f1f5f9;
  width: 30vw;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.logo-container {
  display: flex;
}
.logo {
  height: 100px;
  width: 100px;
  margin-right: 5px;
}
.title {
  font-size: 20px;
}
.title-rating-container {
  line-break: 1px;
}
.rating-container {
  display: flex;
  align-items: center;
}
.star-icon {
  color: yellow;
  margin-right: 5px;
}
.location-icon {
  color: #f1f5f9;
  height: 20px;
}

.location-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.location-employee-type-container {
  display: flex;
}

.location-salary-container {
  display: flex;
  justify-content: space-between;
}
